<div class="post">
    <div class="post__header">
        <h1>Post title</h1>

        <button class="btn btn--link" routerLink = "/">
            Go to the main page
        </button>
    </div>

    <div class="post__info">
        <strong>Author</strong>
        <small>19.12.2019</small>

    </div>

    <div class="post__text">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nostrum eligendi possimus, 
            accusantium velit necessitatibus officia vitae blanditiis error exercitationem ex perferendis 
            unde est molestiae! Tempore reiciendis accusantium dignissimos exercitationem.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nostrum eligendi possimus,
            accusantium velit necessitatibus officia vitae blanditiis error exercitationem ex perferendis
            unde est molestiae! Tempore reiciendis accusantium dignissimos exercitationem.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nostrum eligendi possimus,
            accusantium velit necessitatibus officia vitae blanditiis error exercitationem ex perferendis
            unde est molestiae! Tempore reiciendis accusantium dignissimos exercitationem.
        </p>
    </div>

</div>