<div *ngIf = "post$ | async as post; else loading">
    <div class="post">
        <div class="post__header">
            <h1>{{post.title}}</h1>

            <button class="btn btn--link" routerLink="/">
                Go to the main page
            </button>
        </div>

        <div class="post__info">
            <strong>{{post.author}}</strong>
            <small>{{post.date | date: 'medium':null:'en'}}</small>

        </div>

        <div class="post__text">
            <quill-view-html [content]="post.text">
            </quill-view-html>
        </div>

    </div>
</div>

<ng-template #loading>
    Loading...
</ng-template>

