.form {
    max-width: 600px;
    margin: 0 auto;

    &__title {
        margin-bottom: 20px;
    }

    &__control {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    input {
        border: 1px solid #888;
        padding: 5px 3px;
        border-radius: 3px;
    }

    label {
        font-size: 14px;
    }
}