@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background: #fff;
    color: #333;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 20px 0;
}

.main {
    text-align: center;
    padding: 10px 0;
}

.navbar {
    border-bottom: 1px solid #333;
    background-color: #224478;
    color: #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    a {
        color: #eee;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        flex-basis: 50%;
    }

    &__link {
        padding: 0 5px;
    }
}

.active {
    a {
        color: #999;
    }
    
}

.validation {
    color: red;
}

.btn {
    padding: 10px 20px;
    background-color: #224478;
    color: #eee;
    border-radius: 5px;
    border: 0;

    &--link {
        background: transparent;
        color: #224478;
        font-size: 16px;
    }
}

.alert {
    font-size: 20px;
    background-color: #224478;
    color: #fff;
    padding: 5px;
    margin-bottom: 20px;

    &--danger {
        background-color: #d64545;
    }
}

.form {
    max-width: 600px;
    margin: 0 auto;

    &__title {
        margin-bottom: 20px;
    }

    &__control {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    input {
        border: 1px solid #888;
        padding: 5px 3px;
        border-radius: 3px;
    }

    label {
        font-size: 14px;
    }
}

.page {
    &__content {
        max-width: 1140px;
    }
}

.post {
    &__list {
        max-width: 600px;
        margin: 0 auto;
    }

    &__table {
        width: 100%;
        text-align: center;
    }

    &__line {

    }

    &__cell {
        padding: 10px 5px;
    }
}

@media screen and (max-width: 500px) {
    .navbar {
        &__list {
            flex-basis: 100%;
            justify-content: center;
        }

        &__title {
            text-align: center;
            flex-basis: 100%;
        }
    }
}

